@model IEnumerable<WebApplication1.Models.Employee>
@{
    ViewBag.Title = "Index";
    var emp = ViewData["employee"] as WebApplication1.Models.Employee;
    var e1 = ViewBag.emp;
}

<h2>Employee Index View</h2>

<ul>
    @foreach (var e in Model)
    {
        <li>@e.empid</li>
        <li>@e.ename</li>
        <li>@e.location</li>
    }
</ul>
<hr />

<h3>ViewData</h3>
<ul>
    <li>@emp.empid</li>
    <li>@emp.ename</li>
    
    <li>@emp.location</li>
</ul>
<hr/>
<h3>ViewBag</h3>
<ul>
    <li>@e1.empid</li>
    <li>@e1.ename</li>
    
    <li>@e1.location</li>
</ul>
